@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';
// HEADER
.header{
    &__inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 120px;
    }
    &__btn{
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    &__btn-menu{
        display: none;
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
}

.logo{
    margin: 0 auto;
}

.menu{
    padding-left: 35px;
    padding-right: 60px;
    &__list{
        display: flex;
    }
    &__list-item + .menu__list-item{
        padding-left: 80px;
    }
    &__list-link{
        @extend %title-font;
        color: rgba(54, 56, 56, 0.9033);
        line-height: 22px;
    }
    &__list-link--active{
        position: relative;
    }
    &__list-link--active::after{
        content: '';
        position: absolute;
        bottom: -4px;
        left: 0;
        right: 0;
        height: 2px;
        border-radius: 1px;
        background: rgba($title, .7);
    }
}

.footer{
    &__inner{
        display: flex;
        justify-content: space-between;
    }
    &__info{
        max-width: 475px;
    }
    &__content{
        background: #dfdfdf;
        padding: 60px 0px 80px;
    }
    &__info-title{
        @extend %title-font;
        font-weight: 700;
        line-height: 23px;
        color: $title;
    }
    &__info-text{
        margin-bottom: 16px;
    }
    &__form{
        display: flex;
    }
    &__form-input{
        padding: 6px 10px 6px 18px;
        border-radius: 21px;
        background-color: transparent;
        border: 1px solid rgba($title, .7);
        width: 100%;
    }
    &__form-submit{
        background-color: $title;
        border: none;
        color: #fffff0;
        border-radius: 21px;
        padding: 6px 12px;
        min-width: 136px;
        margin-left: 9px;
        cursor: pointer;
    }

    &__social{
        width: 125px;
        margin-right: auto;
        margin-left: 100px;
    }
    &__social-link{
        padding-left: 28px;
        position: relative;
        &::before{
            content: '';
            position: absolute;
            left: 0;
            top: 3ёpx;
        }
    }
    &__social-link--facebook::before{
        background-image: url(../images/facebook.svg);
        width: 16px;
        height: 16px;
    }
    &__social-link--instagram::before{
        background-image: url(../images/instagram.svg);
        width: 14px;
        height: 15px;
    }
    &__social-link--pinterest::before{
        background-image: url(../images/Pinterest.svg);
        width: 16px;
        height: 16px;
    }
    &__social-link--whatsapp::before{
        background-image: url(../images/whatsapp.svg);
        width: 14px;
        height: 14px;
    }
    &__social-link--youtube::before{
        background-image: url(../images/youtube.svg);
        width: 18px;
        height: 12px;
    }
    &__social-item,
    &__menu-item{
        margin-bottom: 14px;
        font-weight: 600;
        font-size: 14px;
    }
    &__social-link,
    &__menu-link{
        color: #707070;
    }
    &__menu{
        margin-right: 60px;
        width: 125px;
    }
    &__coptright{
        background: $title;
        text-align: center;
        padding: 42px 0 41px;
        color: #A1A1A1;
    }
}

.rightside-menu{
    position: fixed;
    z-index: 1000;
    right: 0;
    top: 0;
    bottom: 0;
    max-width: 694px;
    background-color: #ffffff;
    padding-top: 40px;
    width: 100%;
    box-shadow: -5px 0px 20px -4px #000000;
    transition: all .5s;

    &.rightside-menu--close{
        transform: translateX(500%);
    }
    &__clouse{
        background: transparent;
        border: none;
        padding: 0;
        margin-left: 50px;
        margin-bottom: 60px;
        cursor: pointer;
    }

    &__content{
        text-align: center;
        max-width: 485px;
        margin: 0 auto;
    }
    &__logo{
        margin-bottom: 40px;
    }
    &__logo img{
        display: inline-block;
        max-width: 485px;
    }
    &__title{
        color: $title;
        @extend %title-font;
        font-size: 35px;
        line-height: 51px;
        position: relative;
        margin-bottom: 17px;
        padding-bottom: 17pxё;
        &::after{
            content: '';
            position:  absolute;
            bottom: 0;
            left: 0;
            right: 0;
            max-width: 252px;
            margin: 0 auto;
            height: 1px;
            background: #6d6268;
        }
    }
    &__text{
        margin-bottom: 75px;
    }
}

.breadcrumbs{
    background: rgba(#DFDFDF, .5);
    padding: 13px 0;
    position: relative;
    z-index: 5;
    &__list{
        display: flex;
        overflow-x: auto;
    }
    &__item{
        position: relative;
        padding-right: 8px;
    }
    &__item::after{
        content: '/';
        position: absolute;
    }
    &__item:last-child::after{
        display: none;
    }
    &__link{
        font-size: 14px;
        color: $default;
    }
}

.top{
    &__inner{
        padding-bottom: 70px;
        position: relative;
        &::after{
            content: '';
            position: absolute;
            top: 0;
            z-index: -1;
            width: 100%;
            height: 722px;
            background-image: url(../images/slider-bg.jpg);
        }
    }
    &__slider-item{
        display: flex !important;
        justify-content: center;
        align-items: center;
    }
    &__slider-img{
        margin-left: -14%;
        max-width: 704px;
        max-width: 815px;
        object-fit: cover;
    }
    &__slider-info{
        max-width: 645px;
        margin-left: 25px;
    }
    &__slider-title{
        font-size: 110px;
        line-height: 134px;
        font-weight: bold;
        color: #363838;
        padding-bottom: 26px;
        margin-bottom: 26px;
        position: relative;
        &::after{
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;  
            width: 185px;
            height: 1px;
            background: #363838;
        }
    }
    &__slider-text{
        max-width: 586px;
    }
}
.new-collection{
	text-align: center;
	padding: 45px 0 35px;
	&__title{
        @extend %title-font;
		color: $title;
		font-size: 36px;
		line-height: 51px;
		padding-bottom: 25px;
		margin-bottom: 25px;
		position: relative;
		&::after{
			content: '';
			position: absolute;
			width: 250px;
			height: 1px;
			bottom: 0;
			left: 0;
			right: 0;
			margin: 0 auto;
			background: #6D7278;
		}
	}
	&__text{
		max-width: 730px;
		margin: 0 auto 30px;
	}
}
.collection{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
    padding-bottom: 70px;
    &__item{
        position: relative;
        &:hover{
            .collection__info{
                opacity: 1;
            }
        }
    }
    &__images{
        min-height: 350px;
        object-fit: cover;
    }
    &__info{
        transition: all .5s;
        position: absolute;
        top: 0;
        left:0;
        right: 0;
        bottom: 0;
        background-color: rgba(#fff, .7);
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        opacity: 0;
    }
    &__info-title{
        font-size: 20px;
        line-height: 25px;
        color: $title;
        padding-bottom: 19px;
        margin-bottom: 19px;
        position: relative;
        &::after{
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 1px;
            background-color: #6D7278;
            width: 80%;
            margin: 0 auto;            
        }
    }
    &__info-text{
        font-weight: 600;
        font-size: 14px;
        color: #707070;
    }
}
.decor{
    padding: 170px 0 155px;
    background-image: url(../images/decor-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 600px;
    &__title{
        @extend %title-font;
        max-width: 500px;
        font-weight: 700;
        color: $title;
        font-size: 60px;
        line-height: 80px;
        padding-bottom: 22px;
        margin-bottom: 22px;
        position: relative;
        &::after{
            content: '';
            position: absolute;
            height: 1px;
            background-color: #6D7278;
            width: 200px;
            bottom: 0;
            left: 0;
            right: 0;
            
        }
    }
    &__text{
        max-width: 540px;
    }
}
.works-path{
    padding: 80px 0 30px;
    &__title{
        @extend %title-font;
        text-align: center;
        color: $title;
        margin-bottom: 40px;
        font-size: 36px;
        line-height: 61px;
    }
    &__items-box{
        display: flex;
        align-items: flex-end;
        border-bottom: 2px solid rgba(#363838, .7);
        position: relative;
        &::before{
            content: '';
            position: absolute;
            bottom: -6px;
            left: -1px;
            right: 0;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background: $title;
        }
    }
    &__item{
        width: 250px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        position: relative;
        height: 100%;   
    }
    &__item--production{
        margin-left: 315px;
        &::after{
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            height: 20px;
            width: 2px;
            background: rgba($title, .7);
        }
    }
    &__item--production,
    &__item--consultation{
        padding-bottom: 38px;
    }
    &__item-measuring{
        margin-left: 305px;
        padding-top: 38px;
        position: relative;
        &::after{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            height: 20px;
            width: 2px;
            background: rgba($title, .7);
        }
    }
    &__item-title{
        margin-left: 13px;
        @extend %title-font;
        font-size: 16px;
        line-height: 23px;
        color: $title;
    }
    &__item-text{
        margin-top: 13px;
    }
}

.gallery{
    padding: 80px 0 90px;
    &__buttons{
        text-align: center;
        margin-bottom: 40px;
    }
    &__btn{
        margin: 0 13px;
        background-color: transparent;
        border: 1px solid #454647;
        border-radius: 20px;
        padding: 6px 15px;
        color: #8F8D8D;
        font-size: 14px;
        font-weight: 600;
        cursor: pointer;
    }
    .mixitup-control-active{
        color: #363838;
        background: #FFEF35;
        border: 1px solid #FFEF35;
    }
    &__items{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr 1fr;
        gap: 30px;
    }
    &__item:first-child{
        grid-column: span 2;
        grid-row: span 2;
    }
    &__item img{
        object-fit: cover;
        width: 100%;
        height: 100%;
        max-height: 1150px;
    }
    &.gallery__page{
        .gallery__item:nth-child(8){
            grid-column: span 2;
            grid-row: span 2;
        }
    }
}

.blog-box{
    padding: 88px 0px 126px 0px;
    &__title{
        max-width: 430px;
        @extend %title-font;
        font-weight: bold;
        font-size: 36px;
        line-height: 51px;
        text-align: center;
        color: #363838;
        margin: 0 auto;
        margin-bottom: 30px;
    }
    &__items{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    &__links,
    &__links a{
        transition: all .5s;    
        font-size: 14px;
        line-height: 28px;
        color: #707070;
        margin-top: 19px;
        margin-bottom: 7px;
    }
    &__links a:hover{
        color: #9c9200;
    }
    &__item-title{
        @extend %title-font;
        font-size: 24px;
        color: #363838;
    }
}

.about{
    &__prev{
        background: url(../images/about-bg.jpg) no-repeat;
        background-position: top center;
        background-size: cover;
        text-align: center;
        padding: 160px 0;
        margin-top: -53px;
    }
    &__prev-title{
        color: $title;
        @extend %title-font;
        font-size: 60px;
        line-height: 80px;
    }
    &__content{
        padding: 130px 0 40px;
    }
    &__title{
        @extend %title-font;
        font-size: 36px;
        line-height: 60px;
        max-width: 822px;
        color: $title;
        padding-bottom: 22px;
        margin-bottom: 22px;
        position: relative;
        &::after{
            content: '';
            position: absolute;
            width: 200px;
            height: 2px;
            background: #6D7278;
            bottom: 0;
            left: 0;
        }
    }
    &__text{
        padding-left: 284px;
        p{
            margin-bottom: 40px;
        }
    }
    &__popup{
        background: url(../images/popup-bg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top center;
        min-height: 414px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.insperation{
    padding-top: 100px;
    position: relative;
    &::after{
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-image: url(../images/insperation-bg.jpg);
        height: 340px;
        z-index: -1;
    }   
    &__inner{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__images{
        margin-right: 78px;
        margin-left: -230px;
    }
    &__title{
        font-size: 36px;
        line-height: 60px;
        color: $title;
        @extend %title-font;
        margin-bottom: 30px;
        padding-bottom: 24px;
        position: relative;
        &::after{
            content: '';
            position: absolute;
            width: 200px;
            height: 2px;
            background: #6D7278;
            border-radius: 1px;
            left: 0;
            bottom: 0;
        }
    }
    &__text{
        line-height: 27px;
    }
    &__content{
        max-width: 825px;
    }
    &__item{
        color: $title;
        @extend %title-font;
        line-height: 23px;
        margin-bottom: 33px;
    }
    &__item-content{
        display: flex;
        justify-content: space-between;
        padding-bottom: 14px;
        border-bottom: 2px solid #ffffff;
        border-radius: 4px;
    }
    &__line{
        height: 2px;
        border-radius: 4px;
        background: $title;
        margin-top: -2px;
    }
}
.parents{
    padding: 16px 0 33px;
    &__items{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
    }
    &__item{
        margin: 0 auto;
    }
}
.map{
    margin-top: -53px;
    margin-bottom: 50px;
    iframe{
        height: 578px;
    }
}
.contact{
    padding-bottom: 100px;
    &__left{
        padding-left: 248px;
    }
    &__title{
        color: $title;
        @extend %title-font;
        font-size: 36px;
        line-height: 60px;
        padding-bottom: 30px;
        margin-bottom: 40px;
        position: relative;
        &::after{
            content: '';
            position: absolute;
            height: 2px;
            width: 200px;
            bottom: 0;
            left: 0;
            background: #6D7278;
        }
    }
    &__text{
        font-size: 16px;
        line-height: 28px;
        color: #A1A1A1;
        padding-bottom: 25px;
    }
    &__social{
        display: flex;
        margin-bottom: 20px;
    }
    &__social-item + .contact__social-item{
        padding-left: 40px;
    }
    &__phone,
    &__st,
    &__sity{
        font-size: 16px;
        line-height: 27px;
        color: $default;
    }
    &__sity{
        margin-bottom: 16px;
    }
    &__form{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__form-input{
        width: 48%;
        border: 1px solid #DFDFDF;
        border-radius: 20px;
        padding: 6px 17px;
        margin-bottom: 13px;
        &::placeholder{
            font-size: 16px;
            line-height: 28px;
            color: #A1A1A1;
        }
    }
    &__form-area{
        width: 100%;
        height: 125px;
        border-radius: 20px;
        border: 1px solid #DFDFDF;
        padding: 6px 17px;
        resize: none;
        margin-bottom: 20px;
        &::placeholder{
            font-size: 16px;
            line-height: 28px;
            color: #A1A1A1;
        }
    }
    &__form-btn{
        background: #363838;
        border: none;
        border-radius: 21px;
        font-family: Open Sans;
        font-weight: 600;
        font-size: 16px;
        text-align: center;
        color: #FFFFF0;
        padding: 6px 12px;
        width: 180px;
        height: 40px;
        cursor: pointer;
    }
}
.contact__slider{
    &-item{
        position: relative;
        &:hover{
            .contact__slider-title{
                opacity: 1;
            }
        }
    }
    &-img{
        width: 170px;
        height: 170px;
        object-fit: cover;
    }
    &-title{
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba($color: #fff, $alpha: .6) ;
        color: $title;
        @extend %title-font;
        padding: 0 5px;
        text-align: center;
        transition: all .5s;
        opacity: 0;
    }
}

.blog{
    padding: 60px 0 100px;
    &__inner{
        display: flex;
        justify-content: space-between;
    }
    &__category{
        margin-bottom: 36px;
    }
    &__category-title{
        margin-bottom: 15px;
        line-height: 23px;
        color: $title;
        @extend %title-font;
    }
    &__category-item{
        margin-bottom: 12px;
    }
    &__category-link{
        color: inherit;
    }
    &__social{
        display: flex;
        &-item{
            margin-right: 20px;
        }
    }
    &__items{
        max-width: 730px;
    }
    &__item{
        margin-bottom: 80px;
    }
    &__item-img{
        max-width: 730px;
    }
    &__item-info{
        padding: 25px 0 10px;
        font-weight: 600;
        font-size: 14px;
        color: #707070;
        a{
            color: inherit;
        }
    }
    &__item-title{
        font-size: 24px;
        line-height: 38px;
        margin-bottom: 6px;
        color: $title;
        @extend %title-font;
    }

    &__blockquote{
        background: rgba(223, 223, 223, 0.5);
        margin-bottom: 50px;
        padding: 54px 64px;
        font-style: italic;
        font-weight: 300;
        font-size: 24px;
        line-height: 38px;
        text-align: center;
        color: #363838;
    }
    &__blockquote-author{
        margin-top: 23px;
        padding-top: 23px;
        @extend %title-font;
        font-style: normal;
        font-size: 16px;
        line-height: 22px;
        color: $title;
        position: relative;
        &::after{
            content: '';
            position: absolute;
            width: 200px;
            height: 1px;
            background: #6D7278;
            top: 0;
            right: 0;
            left: 0;
            margin: 0 auto;
            border-radius: 1px;
        }
    }

    &__item-popup{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}
.article-popup{
    &__box{
        position: relative;
    }
}
.article-slider{
    position: relative;
    &-arrow{
        background-color: transparent;
        border: none;
        padding: 0;
        z-index: 10;
    }
    &-arrowleft{
        position: absolute;
        transform: translateY(-50%);
        top: 50%;
        left: 16px;
    }
    &-arrowright{
        position: absolute;
        transform: translateY(-50%);
        top: 50%;
        right: 16px;
    }
}


.aside{
    width: 350px;
    margin-left: 30px;
    &__search{
       position: relative;
       margin-bottom: 40px;
    }
    &__search-input{
        padding: 6px 45px 6px 18px;
        border: 1px solid rgba(#383636, $alpha: .7);
        border-radius: 20px;
        width: 100%;
        &::placeholder{     
            font-size: 14px;
            line-height: 27px;
            font-weight: 400;
            color: #a1a1a1;
        }
    }
    &__search-btn{
         background-color: transparent;
         border: none;
         position: absolute;
         top: 10px;
         right: 13px;
    }
}

.recent__posts{
    margin-bottom: 40px;
    &-title{
        margin-bottom: 24px;
        line-height: 23px;
        color: $title;
        @extend %title-font;
    }
    &-item{
        margin-bottom: 11px;
    }
    &-item-title{
        display: block;
        color: inherit;
    }
    &-date,
    &-author{
        font-size: 14px;
        color: #A1A1A1;
    }

}
.blog__tegs{
    margin-bottom: 50px;
    &-title{
        margin-bottom: 24px;
        line-height: 23px;
        color: $title;
        @extend %title-font;
    }
    &-link{
        font-weight: 600;
        font-size: 14px;
        color: #8F8D8D;
        padding: 0 14px;
        margin-bottom: 10px;
        margin-right: 10px;
        display: inline-block;
        border: 1px solid rgba(#454647, .5);
        border-radius: 14px;
    }
}

.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    &__list{
        display: flex;
        &-item{
            margin: 0 6px;
        }
        &-num{
            font-weight: 600;
            font-size: 14px;
            color: #707070;
        }
        &-num--active{
            color: #363838;
        }
    }
    &__arrow{
        margin: 0 6px;
    }
    &__arrow-disabled{
        display: none;
    }
}

.blog-one__tags{
    margin-bottom: 10px ;
    &-title{
        @extend %title-font;
        color: $title;
        font-weight: bold;
        font-size: 20px;
        line-height: 31px;
        margin-bottom: 15px;
    }
    &-link{
        font-weight: 600;
        font-size: 14px;
        color: #8F8D8D;
        padding: 0 14px;
        margin-bottom: 10px;
        margin-right: 10px;
        display: inline-block;
        border: 1px solid rgba(69,70,71,0.5);
        border-radius: 14px;
    }
}

.blog-one{
    &__links{
        padding: 40px 0px 30px;
        border-top: 1px solid #dfdfdf;
        border-bottom: 1px solid #dfdfdf;
        display: flex;
        justify-content: space-between;
        margin-bottom: 35px;
    }
    &__link{
        max-width: 243px;
        position: relative;
        color: #707070;
        font-size: 14px;
        font-weight: 600;
        &::after{
            content: '';
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 12px;
            height: 23px;
        }
    }
    &__link-prev{
        padding-left: 44px;
        &::after{
            background: url(../images/arrow-prev.svg);
            left: 0;
        }
    }
    &__link-next{
        padding-right: 44px;
        text-align: right;
        &::after{
            background: url(../images/arrow-next.svg);
            right: 0;
        }
    }
    &__comments-title{
        color: $title;
        @extend %title-font;
        line-height: 31px;
        font-size: 20px;
        margin-bottom: 15px;
    }
    &__comments-item{
        display: flex;
        justify-content: space-between;
        align-items: start;
        margin-bottom: 40px;
        position: relative;
    }
    &__comments-avatar{
        width: 64px;
        height: 64px;
        object-fit: cover;
        border-radius: 50%;
        margin-right: 13px;
    }
    &__comments-reply{
        background-color: transparent;
        margin-left: 5px;
        border: none;
        padding: 0;
        font-size: 14px;
        font-weight: 600;
        color: #707070;
        position: absolute;
        top: 0;
        right: 0;
    }
    &__comments-name{
        color: $title;
        @extend %title-font;
        line-height: 23px;
    }
    &__comments-date{
        margin-bottom: 10px;
        font-size: 14px;
        color: #a1a1a1;
    }
    &__form-textarea{
        order: -1;
    }
    &__form-label{
        width: 100%;
        margin-bottom: 20px;
        font-size: 14px;
        color: #a1a1a1;
    }
}

@import 'media';
